
.main 
  height  100%
  width   1000px
  backface-visibility  hidden
  background  #ffffff
  display  flex
  border-radius  3px
  &__navi
    flex  0 0 280px
    border-radius 3px 0 0 3px
    background-color  #2e3238
  &__content
    border-radius 0 3px 3px 0
    text-align center
    background-color  #eee
    flex  1
    display  flex
    flex-direction  column
    &__title
      flex 0 0 51px
      position relative
      padding 10px 0
      margin: 0 19px
      border-bottom 1px solid #d6d6d6
      background-color #eee
      z-index 1024
      &__text
        font-weight 400
        text-align center
        line-height 30px
        height 25px
        display inline-block
        font-size 14px
        cursor pointer
        vertical-align middle
        max-width 300px
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        word-wrap normal
        text-decoration none
        color #000
    &__messages
      overflow  auto
      flex  1
      height 200px
      word-wrap  break-word
      word-break  break-all
      padding 0 19px
      visibility: hidden
      &__time
        text-align: center
        margin: 10px auto
        max-width: 50%
        span
          display: inline-block;
          font-size: 12px;
          padding: 1px 18px;
          color: #b2b2b2;
      &:hover
        visibility: visible
      &::-webkit-scrollbar
        width: 6px
        height 6px
      &::-webkit-scrollbar:window-inactive
        display: none
      &::-webkit-scrollbar-track
        background-color: transparent
      &::-webkit-scrollbar-thumb
        border-radius: 3px
        background: #c3c3c3
      &__item
        padding  9px 13px
        min-height  25px
        font-size  14px
        line-height  1.6
        border-radius  3px
        background-color  #b2e281
        max-width  500px
        margin  0 10px
        display  inline-block
        position relative
        &:after
          border 6px solid transparent
          position absolute
          content " "
          top 14px
          left 100%
          border-left-color #b2e281
          border-left-width 4px
      &__name
        display inline-block
        width 40px
        height 40px
        border-radius 20px
        background-color #fff
        vertical-align top
        text-align center
        line-height 40px
      &__right
        font-size  14px
        text-align  right
        line-height  1.6
        margin-bottom  16px
      &__left
        font-size  14px
        margin-bottom  16px
        width  100%
        line-height  1.6
        text-align  left
        .name_left
          float: left
        .content_left
          background-color: #fff
        .content_left:before
          border 6px solid transparent
          position absolute
          content " "
          top 14px
          right 100%
          border-right-color #fff
          border-right-width 4px
        .content_left:after
          display: none
    &__input
      flex  0 0 180px
      margin-right  19px
      border-top  1px solid #d6d6d6;
      textarea
        background-color  #eee
        padding  0 10px
        width  100%
        border  none
        height  70%
        resize none
        &:focus
          outline none
      button
        float  right 
        margin-right  10px
        background-color  #fff
        color  #222
        display  inline-block
        border  1px solid #c1c1c1
        border-radius  4px
        padding  3px 30px
        font-size  14px
        line-height 1.6
        &:hover
          background #f8f8f8
    pre
      margin: 0
      font-family: inherit
      font-size: inherit
      white-space: pre-wrap
      word-break: normal
.scrollWrapper
  visibility: visible
  &:first-child
    margin-top 20px