
.main 
  height  642px
  width   1000px
  backface-visibility  hidden
  background  #ffffff
  position  absolute
  top  50%
  left  50%
  margin-left  -500px
  margin-top  -300px
  display  flex
  border-radius  3px
  &__navi
    flex  0 0 280px
    border-radius 3px 0 0 3px
    background-color  #2e3238
  &__content
    border-radius 0 3px 3px 0
    background-color  #eee
    flex  1
    display  flex
    flex-direction  column
    &__messages
      overflow  scroll
      flex  1
      word-wrap  break-word
      word-break  break-all
      &__item
        padding  9px 13px
        min-height  25px;
        font-size  14px;
        line-height  1.6;
        border-radius  3px
        background-color  #b2e281;
        max-width  500px;
        margin  0 10px
        display  inline-block
        position relative
        &:after
          border 6px solid transparent
          position absolute
          content " "
          top 14px
          left 100%
          border-left-color #b2e281;
          border-left-width 4px;
      &__right
        font-size  14px
        text-align  right
        line-height  1.6
        margin-bottom  16px
      &__left
        font-size  14px
        margin-bottom  16px
        width  100%
        line-height  1.6
        text-align  left
    &__input
      flex  0 0 180px
      margin-right  19px
      border-top  1px solid #d6d6d6;
      textarea
        background-color  #eee
        padding  0 10px
        width  100%
        border  none
        height  70%
        &:focus
          outline none
      button
        float  right 
        margin-right  10px
        background-color  #fff;
        color  #222
        display  inline-block;
        border  1px solid #c1c1c1;
        border-radius  4px
        padding  3px 30px
        font-size  14px
        line-height 1.6
        &:hover
          background #f8f8f8
