.login
  width: 380px
  height: 540px
  position: absolute
  top: 50%
  left: 50%
  margin-left: -190px
  margin-top: -270px
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #fff;
  width: 380px;
  height: 540px;
  box-shadow: 0 2px 10px #999;
  display: flex
  align-items: center
  justify-content: center
  &__form
    padding: 10px 20px
    width: 400px
    border-radius: 4px
    transition: all 0.3s
    &:hover
      position: relative;
      z-index: 1;
      box-shadow: 0 2px 3px $hoverColor
    &__title
      font-size: 22px
      height: 30px
      line-height: 30px
      text-align: center
    &__submit
      width: 100%