.container
  min-height: 100vh
  display: flex
  height 100%
  flex-direction: column
  font-family: Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
  background: url('../assets/bg.jpg') no-repeat 50%;
  background-size: cover;
  &__header
    @media(max-width 500px){
        display: none
      }
    font-size: 1rem
    text-align: center
    flex: 0 0 10%
    > span
      line-height: 60px
    &__button
      float: right 
      margin-right: 20px
  &__main
    flex: 1
  &__footer
    @media(max-width 500px){
        display none
      }
    text-align: center
    font-size: 1rem
    flex: 0 0 10%