.container
  min-height: 100vh
  display: flex
  flex-direction: column
  font-family: Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
  background: url(//res.wx.qq.com/a/wx_fed/webwx/res/static/img/2zrdI1g.jpg) no-repeat 50%;
  background-size: cover;
  &__header
    font-size: 1rem
    text-align: center
    flex: 0 0 60px
    > span
      line-height: 60px
    &__button
      float: right 
      margin-right: 20px
  &__main
    flex: 1
  &__footer
    text-align: center
    font-size: 1rem
    flex: 0 0 50px